<template>
  <div>
   <!-- <Computedview /> -->
   <GetterSetter/>
  </div>
</template>

<script>
//import Computedview from './components/Computedview.vue';
import GetterSetter from './components/GetterSetter.vue';
  export default {
    components: {
      //Computedview,
      GetterSetter,
    },
  }
</script>

<style lang="scss" scoped>

</style>
